<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <% for (var i = 0;i < users.length;i++) { %>
    <div style="border: 1px solid black;padding: 5px;margin-top: 9px;">
        <h2>Username: <%= users[i].username %></h2>
        <h5>Email: <%= users[i].email %></h2>
        <h5>Password: <%= users[i].password %></h2>
        <a href="/delete/<%= users[i].id %>">delete</a>
        <a href="/update/<%= users[i].id %>">update</a>
    </div>
    <% } %>
</body>
</html>